<div class="b">

<mdb-card>
    <mdb-card-body>
      <!-- Material form register -->
      <!-- Default form login -->
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">התחברות</p>
  
    <!-- Email -->
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="מייל">
  
    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="סיסמה">
  
    <!-- Sign in button -->
    <button title="התחבר" mdbBtn color="info" block="true" class="my-4 btn-i" type="submit">התחבר</button>
  
    <!-- Register -->
    <p>לא רשומה?
      <a title="הרשם" [routerLink]="['/signup']">הירשמי</a>
    </p>
  
  </form>
  <!-- Default form login -->
      <!-- Material form register -->
    </mdb-card-body>
  </mdb-card>
</div>