<mdb-card class="body">
    <p class="h4 mb-4" style="text-align: center;">עגלת קניות</p>

    <div class="card-deck">
        <mdb-card class="col-4">
            <div class="view overlay waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img
                    src="https://www.keds.co.il/media/catalog/product/cache/2/image/465x465/9df78eab33525d08d6e5fb8d27136e95/1/1/11c047823-1.jpg"
                    alt="Card image cap">
                </mdb-card-img>
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
                <button title="הגדל שמלה" [routerLink]="['/dress']" mdbBtn type="button" class="color-gold" mdbWavesEffect>
                    <mdb-icon fas icon="search-plus"></mdb-icon>
                </button>
                <button title="הסר מהעגלה" mdbBtn type="button" class="color-gold" mdbWavesEffect>
                    <mdb-icon fas icon="times"></mdb-icon>
                </button>
            </mdb-card-body>
        </mdb-card>

    </div>

</mdb-card>