<div style="margin: 5%;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-5">
         
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(23).jpg"
                  alt="First slide">
          </div>
          <div class="col-lg-7">
            <h2 class="h2-responsive product-name">
              שמלת ערב
            </h2>
      

<ul class="list-group list-group-flush">
    <li class="list-group-item">קטגוריה:  <span>נשים</span></li>
    <li class="list-group-item">מידה:  <span>36</span></li>
    <li class="list-group-item">צבע: <span>ורוד</span></li>
    <li class="list-group-item">גובה: <span>1.65</span></li>
    <li class="list-group-item">היקף חזה: <span>90</span></li>
    <li class="list-group-item">היקף מתניים: <span>60</span></li>
    <li class="list-group-item">היקף ירכיים: <span>90</span></li>
    <li class="list-group-item">עיר: <span>פתח תקווה</span></li>
    <li class="list-group-item">מחיר: <span>360</span></li>
    <li class="list-group-item">פלאפון: <span>0548415655</span></li>
    <li class="list-group-item">תאריך קניה/תפירה: <span>01-02-2019</span></li>
    <li class="list-group-item">תאריכים שמורים: <span>01-02-2020</span></li>
    <li class="list-group-item">ביקורת: <span>אין ביקורת</span></li>
  </ul>
            <div class="card-body">
                    <button title="הוסף לרשימת משאלות" mdbBtn type="button" class="color-gold" mdbWavesEffect>
                        <mdb-icon far icon="heart"></mdb-icon>
                    </button>
                    <button title="הוסף לעגלה" mdbBtn type="button" class="color-gold" mdbWavesEffect>
                        <mdb-icon fas icon="shopping-cart"></mdb-icon>
                    </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>